<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Happy Lunch</title>
	<!-- core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.transitions.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <!-- <link href="css/smart_cart.css" rel="stylesheet"> -->
    <link href="css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body id="home" class="homepage">

    <header id="header">
        <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo"></a>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="scroll active"><a href="#home">Trang Chủ</a></li>
                        <li class="scroll"><a href="#portfolio">Thực Đơn</a></li>
                        <li class="scroll"><a href="#features">Thanh Toán</a></li>
                        <li class="scroll"><a href="#services">Hướng Dẫn</a></li>
                        <li class="scroll"><a href="#get-in-touch">Liên Hệ</a></li>                        
                        <!-- <li class="scroll"><a href="#about">About</a></li>
                        <li class="scroll"><a href="#meet-team">Team</a></li>
                        <li class="scroll"><a href="#pricing">Pricing</a></li>
                        <li class="scroll"><a href="#blog">Blog</a></li>  -->
                        
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
    </header><!--/header-->

    <section id="main-slider">
        <div class="owl-carousel">
            <div class="item" style="background-image: url(images/slider/bg1.png);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2><span>Thực đơn</span> đa dạng</h2>
                                    <p></p>
                                    <a class="btn btn-primary btn-lg" href="#portfolio">Xem Thêm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
             <div class="item" style="background-image: url(images/slider/bg2.png);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2>Các món<span> soup</span></h2>
                                    <p></p>
                                    <a class="btn btn-primary btn-lg" href="#portfolio">Xem Thêm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.owl-carousel-->
    </section><!--/#main-slider-->

    <section id="portfolio">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">THỰC ĐƠN</h2>
                <p class="text-center wow fadeInDown">Thực đơn bao gồm cơm trưa văn phòng & các món soup (phở, bún, bánh canh...)</p>
            </div>            

            <div class="text-center">
                <ul class="portfolio-filter">
                    <li><a class="active" href="#" data-filter="*">Xem Hết</a></li>
                    <li><a href="#" data-filter=".creative">Cơm Văn Phòng</a></li>
                    <li><a href="#" data-filter=".corporate">Soup</a></li>                                 
                </ul><!--/#portfolio-filter-->
            </div>

            <div class="portfolio-items">
                <!-- <div class="portfolio-item corporate">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="images/portfolio/08.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>MS8: Bún Riêu</h3>
                            <span>25k</span>
                            <a class="preview" href="images/portfolio/full.jpg" rel="prettyPhoto"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div><!--/.container-->        
        <!-- Smart Cart HTML Starts -->
        <div id="SmartCart" class="scMain">
            <input type="hidden" pimage="images/portfolio/01.jpg" pprice="30.000" pdesc="Phần ăn bao gồm cơm + thịt kho + tráng miệng" pcategory="Computers" pname="MS1 Thịt Kho" pid="100">
            <input type="hidden" pimage="images/portfolio/02.jpg" pprice="30.000" pdesc="Phần ăn bao gồm cơm + cá kho + tráng miệng" pcategory="Computers" pname="MS2 Cá Kho" pid="101">
            <input type="hidden" pimage="images/portfolio/03.jpg" pprice="30.000" pdesc="Phần ăn bao gồm cơm + gà kho và trắng miệng" pcategory="Cameras" pname="MS3 Gà Kho" pid="102">
            <input type="hidden" pimage="images/portfolio/04.jpg" pprice="30.000" pdesc="Re-defining the perception of advanced mobile phones? the HTC Touch Diamond? signals a giant leap forward in combining hi-tech prowess with intuitive usability and exhilarating design." pcategory="Mobile Phones" pname="MS4 Bò Xào" pid="103">
            <input type="hidden" pimage="images/portfolio/05.jpg" pprice="30.000" pdesc="IMAC G5/1.8 256MB 160GB SD 20IN OS10.3" pcategory="Computers" pname="MS5 Bún Bò Huế" pid="104">
            <input type="hidden" pimage="images/portfolio/06.jpg" pprice="30.000" pdesc="" pcategory="Mobile Phones" pname="MS6 Bún Mộc" pid="105">
            <input type="hidden" pimage="images/portfolio/07.jpg" pprice="30.000" pdesc="" pcategory="Accessories" pname="MS7 Bánh Canh" pid="106">
            <input type="hidden" pimage="images/portfolio/08.jpg" pprice="30.000" pdesc="" pcategory="Accessories" pname="MS7 Bún Riêu" pid="107">
        </div>
    </section><!--/#portfolio-->

    <section id="features">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">THANH TOÁN</h2>
                <p class="text-center wow fadeInDown">Vui lòng kiểm tra giỏ hàng trước khi thanh toán</p>
            </div>
            <div class="row">
                <table id="cart" class="table table-hover table-condensed table-striped">
                   <thead>
                      <tr>
                         <th style="width:50%">Mã Số</th>
                         <th style="width:10%">Giá</th>
                         <th style="width:8%">Số Lượng</th>
                         <th style="width:22%" class="text-center">Thành Tiền</th>
                         <th style="width:10%"></th>
                      </tr>
                   </thead>
                   <tbody>
                      <!-- <tr>
                         <td data-th="Product">
                            <div class="row">
                               <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>
                               <div class="col-sm-10">
                                  <h4 class="nomargin">MS1</h4>
                                  <p>Thịt Kho</p>
                               </div>
                            </div>
                         </td>
                         <td data-th="Price">30k</td>
                         <td data-th="Quantity">
                            <input type="number" class="form-control text-center" value="1">
                         </td>
                         <td data-th="Subtotal" class="text-center">30k</td>
                         <td class="actions" data-th="">                        
                            <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>                                
                         </td>
                      </tr> -->
                      
                   </tbody>
                   <tfoot>
                      <tr class="visible-xs">
                         <td class="text-center"><strong>Total 1.99</strong></td>
                      </tr>
                      <tr>
                         <td><a href="#portfolio" class="btn btn-warning"><i class="fa fa-angle-left"></i> Chọn Thêm</a></td>
                         <td colspan="2" class="hidden-xs"></td>
                         <td class="hidden-xs text-center" id = "totalMoney"><strong>Tổng 30k</strong></td>
                         <td><a href="#" id="payMoney" class="btn btn-success btn-block">Thanh Toán <i class="fa fa-angle-right"></i></a></td>
                      </tr>
                   </tfoot>
                </table>
            </div>
        </div>
    </section>

    <section id="services" style="display: none">
        <div class="container">

            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">HƯỚNG DẪN</h2>
                <p class="text-center wow fadeInDown">Hướng dẫn đặt hàng và thanh toán</p>
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-line-chart"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">UX design</h4>
                                <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-cubes"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">UI design</h4>
                                <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-pie-chart"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">SEO Services</h4>
                                <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-bar-chart"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">iOS App</h4>
                                <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-language"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Android App</h4>
                                <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-bullseye"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Win App</h4>
                                <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                </div>
            </div><!--/.row-->    
        </div><!--/.container-->
    </section><!--/#services-->

    <section id="get-in-touch">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">LIÊN HỆ</h2>
                <p class="text-center wow fadeInDown">Kênh liên lạc giữa khách hàng & Happy Lunch để thực hiện thanh toán giỏ hàng hoặc góp ý</p>
            </div>
        </div>
    </section><!--/#get-in-touch-->


    <section id="contact">
        <div id="google-map" style="height:650px" data-latitude="10.771801" data-longitude="106.704441"></div>
        <div class="container-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-8">
                        <div class="contact-form">
                            <h3>Liên Hệ</h3>

                            <address>
                              <strong>Happy Lunch</strong><br>
                              2 Hải Triều, P. Bến Nghé, Quận 1, HCM<br>                              
                            </address>

                            <form id="main-contact-form" name="contact-form" method="post" action="sendemail.php">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" placeholder="Tên" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" placeholder="Email" required>
                                </div>
                                <div class="form-group">
                                    <input type="number" name="phone" class="form-control" placeholder="SĐT" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="address" class="form-control" placeholder="Địa Chỉ" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="subject" class="form-control" placeholder="Tiêu Đề" required>
                                </div>
                                <div class="form-group">
                                    <textarea name="message" class="form-control" rows="4" placeholder="Nội Dung" required></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Gửi</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#bottom-->

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2016 Happy Lunch. Designed by <a target="_blank" href="http://happylunch.herokuapp.com" title="Happy Lunch">Happy Lunch</a>
                </div>
                <div class="col-sm-6">
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>                        
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>                        
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/mousescroll.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/jquery.inview.min.js"></script>
    <script src="js/wow.min.js"></script>    
    <script src="js/jquery.smartCart-2.0.js"></script>
    <script src="js/main.js"></script>
</body>
</html>